<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.student.mapper.EntriesMapper">

  <select id="stuLogin" resultType="Student">
    SELECT sno, sex, phone, avatar, qq, email, password, login_date, grade_id, college_id, profession_id, name
    FROM students
    <where>
      <if test="password != null">
        AND password = #{password}
      </if>
      <choose>
        <when test="no != null">
          AND sno = #{no}
        </when>
        <when test="phone != null">
          AND phone = #{phone}
        </when>
        <when test="qq != null">
          AND qq = #{qq}
        </when>
        <when test="email != null">
          AND email = #{email}
        </when>
      </choose>
    </where>
  </select>

  <select id="tchLogin" resultType="Teacher">
    SELECT tno, sex, login_date, phone, avatar, qq, email, password, name
    FROM teachers
    <where>
      <if test="password != null">
        AND password = #{password}
      </if>
      <choose>
        <when test="no != null">
          AND tno = #{no}
        </when>
        <when test="phone != null">
          AND phone = #{phone}
        </when>
        <when test="qq != null">
          AND qq = #{qq}
        </when>
        <when test="email != null">
          AND email = #{email}
        </when>
      </choose>
    </where>
  </select>

  <sql id="com_sql_1">
    UPDATE ${tablename}
    SET login_date = #{loginDate}
    WHERE ${no} = #{no};
  </sql>

  <update id="updateTechLoginDate">
    <include refid="com_sql_1">
      <property name="tablename" value="teachers"/>
      <property name="no" value="tno"/>
    </include>
  </update>

  <update id="updateStuLoginDate">
    <include refid="com_sql_1">
      <property name="tablename" value="students"/>
      <property name="no" value="sno"/>
    </include>
  </update>

</mapper>