<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.student.mapper.StudentMapper">

  <resultMap id="mapOfQueryMyself" type="UniStudent" autoMapping="true">
    <association property="student" javaType="Student" autoMapping="true"/>
    <association property="college" columnPrefix="c_" javaType="College" autoMapping="true"/>
    <association property="profession" columnPrefix="p_" javaType="Profession" autoMapping="true"/>
    <association property="grade" columnPrefix="g_" javaType="Grade" autoMapping="true"/>
  </resultMap>
  <select id="queryMyself" resultMap="mapOfQueryMyself" parameterType="Student">
    SELECT s.*,
           c.cno     c_cno,
           c.name    c_name,
           p.pno     p_pno,
           p.name    p_name,
           p.type    p_type,
           p.edu_sys p_edu_sys,
           p.degree  p_degree,
           p.code    p_code,
           g.gno     g_gno,
           g.name    g_name,
           g.layer   g_layer,
           g.grade   g_grade
    FROM `students` as s
           JOIN `colleges` as c on c.cno = s.college_id
           JOIN `grades` as g on g.gno = s.grade_id
           JOIN `professions` as p on p.pno = s.profession_id
    WHERE s.sno = #{sno}
  </select>

  <resultMap id="mapOfQueryMyCourses" type="UniCourse" autoMapping="true">
    <association property="course" javaType="Course" columnPrefix="c_" autoMapping="true"/>
    <association property="teacher" javaType="Teacher" columnPrefix="t_" autoMapping="true"/>
  </resultMap>
  <select id="queryMyCourses" resultMap="mapOfQueryMyCourses" parameterType="Student">
    SELECT sc.term,
           sc.stu_id,
           c.name     c_name,
           c.property c_property,
           c.credit   c_credit,
           t.name     t_name
    FROM `stu_course` AS sc
           JOIN `courses` AS c ON sc.course_id = c.cno
           JOIN `teachers` AS t ON sc.teacher_id = t.tno
    WHERE sc.stu_id = #{sno}
  </select>

  <resultMap id="mapOfQueryMyCoursesByTerm" type="UniCourse" extends="mapOfQueryMyCourses"/>
  <select id="queryMyCoursesByTerm" resultMap="mapOfQueryMyCoursesByTerm" parameterType="map">
    SELECT sc.term,
           sc.stu_id,
           c.name     c_name,
           c.property c_property,
           c.credit   c_credit,
           t.name     t_name
    FROM `stu_course` AS sc
           JOIN `courses` AS c ON sc.course_id = c.cno
           JOIN `teachers` AS t ON sc.teacher_id = t.tno
    WHERE sc.stu_id = #{sno}
      AND sc.term = #{term}
  </select>

  <resultMap id="mapOfQueryMyScores" type="UniScore" autoMapping="true">
    <association property="course" javaType="Course" columnPrefix="c_" autoMapping="true"/>
    <association property="teacher" javaType="Teacher" columnPrefix="t_" autoMapping="true"/>
  </resultMap>
  <sql id="queryMyScoresSql">
  </sql>
  <select id="queryMyScores" resultMap="mapOfQueryMyScores" parameterType="Student">
    SELECT scs.term,
           scs.score,
           scs.stu_id,
           c.name     c_name,
           c.cno      c_cno,
           c.property c_property,
           c.credit   c_credit,
           t.name     t_name
    FROM `stu_course_score` AS scs
           JOIN `courses` AS c ON scs.course_id = c.cno
           JOIN `teachers` AS t ON scs.teacher_id = t.tno
    where scs.stu_id = #{sno}
  </select>

  <resultMap id="mapOfQueryMyScoresByTerm" type="UniScore" extends="mapOfQueryMyScores"/>
  <select id="queryMyScoresByTerm" resultMap="mapOfQueryMyScoresByTerm" parameterType="map">
    SELECT scs.term,
           scs.score,
           scs.stu_id,
           c.name     c_name,
           c.cno      c_cno,
           c.property c_property,
           c.credit   c_credit,
           t.name     t_name
    FROM `stu_course_score` AS scs
           JOIN `courses` AS c ON scs.course_id = c.cno
           JOIN `teachers` AS t ON scs.teacher_id = t.tno
    WHERE scs.stu_id = #{sno}
      AND scs.term = #{term}
  </select>

  <resultMap id="mapOfQueryMyActivities" type="UniActivity" autoMapping="true"/>
  <select id="queryMyActivities" resultMap="mapOfQueryMyActivities" parameterType="Student">
    SELECT *
    FROM stu_acti AS sa
           JOIN activities as ac ON sa.act_id = ac.eno
    WHERE sa.stu_id = #{sno}
  </select>

</mapper>