<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.student.mapper.StudentMapper">

  <resultMap id="mapOfQueryMyself" type="UniStudent" autoMapping="true">
    <association property="student" javaType="Student" autoMapping="true"/>
    <association property="college" columnPrefix="c_" javaType="College" autoMapping="true"/>
    <association property="profession" columnPrefix="p_" javaType="Profession" autoMapping="true"/>
    <association property="grade" columnPrefix="g_" javaType="Grade" autoMapping="true"/>
  </resultMap>

  <select id="queryMyself" resultMap="mapOfQueryMyself" parameterType="Student">
    SELECT s.*,
           c.cno     c_cno,
           c.name    c_name,
           p.pno     p_pno,
           p.name    p_name,
           p.type    p_type,
           p.edu_sys p_edu_sys,
           p.degree  p_degree,
           p.code    p_code,
           g.gno     g_gno,
           g.name    g_name,
           g.layer   g_layer,
           g.grade   g_grade
    FROM `students` as s
           JOIN `colleges` as c on c.cno = s.college_id
           JOIN `grades` as g on g.gno = s.grade_id
           JOIN `professions` as p on p.pno = s.profession_id
    WHERE s.sno = #{sno};
  </select>

  <resultMap id="mapOfQueryMyCourses" type="UniCourse">
    <association property="course" autoMapping="true"/>
    <association property="teacher" columnPrefix="t_" autoMapping="true"/>
  </resultMap>

  <select id="queryMyCourses" resultMap="mapOfQueryMyCourses" parameterType="Student">
    SELECT c.*, t.name t_name
    FROM `stu_course` AS sc
           JOIN `courses` AS c ON sc.course_id = c.cno
           JOIN `teachers` AS t ON sc.teacher_id = t.tno
    WHERE sc.sno = #{sno};
  </select>

</mapper>