<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stage01.CustomerMapper">
  <select id="selectAll" resultType="entities.Customer">
    select * from t_customer;
  </select>

  <select id="selectByUsername" resultType="entities.Customer" parameterType="String">
    select * from t_customer where username like concat('%', #{value}, '%');
  </select>

  <insert id="addCustomer" parameterType="entities.Customer">
    insert into t_customer(username, password, sex, mobilephone, education, jobs)
    values(#{username}, #{password}, #{sex}, #{mobilephone}, #{education}, #{jobs});
  </insert>

  <delete id="deleteCustomerById" parameterType="Integer">
    delete from t_customer where id = #{id};
  </delete>

  <update id="updateCustomer" parameterType="entities.Customer">
    update t_customer set username = #{username}, password = #{password},
    sex = #{sex}, mobilephone = #{mobilephone}, education = #{education}, jobs = #{jobs}
    where id = #{id};
  </update>
</mapper>