html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--blog-bg-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:active {
  color: var(--text-color);
}

a:hover {
  color: var(--theme-color);
}
