.left-side .content .avatar {
  width: 100%;
  height: calc(12.5vw - 30px);
}

.left-side {
  background-color: var(--card-bg-color);
  width: 12.5vw;
  padding: 15px;
  box-sizing: border-box;
}

.left-side .content {
  overflow-y: scroll;
}